.Filter {
    display: block;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.8vw;
    margin: 0 auto;
    margin-bottom: 5%;
    width: 51.3%;
    height: auto;
} 

.LabelText{
    transform: translateY(75%);
}

.FilterCard {
    display: flex;
    align-items: flex-start;
    padding-top: 1%;
    padding-left: 1%;
}

.LabelImage {
    float: right;
    transform: translateY(-5%);
    width: 12%;
    height: auto;
}

.FilterCard:hover {
    background: rgba(215, 215, 215, 0.5);
}