.Filter {
    border: 1px solid grey;
    font-size: 15pt;
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    padding-left: 1%;
    box-shadow: 1px 1px 2px 2px #8b8787;
    border-radius: 5px;
    margin-bottom: 5%;
} 

.LabelText{
    padding-top: 2%;
}

.FilterCard {
    display: flex;
    align-items: flex-start;
}

.LabelImage {
    transform: translateY(-10%);
    width: 12%;
    height: auto;
}
