Input {
    position: relative;
    font-size: 1.4vw;
    display: block;
    margin: 0 auto;
    border: 1px solid grey;
    width: 65%;
    height: auto;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.SearchbarInput {
    margin-top: 4%;
}

.SearchbarImage {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        margin-top: 3%;
        height: 40%;
        width: 40%;
    }
}

.SearchbarButton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 2%;
    left: 1%;
    right: 1%;
}

Button {
    border-radius: 10px;
    font-size: 1.8vw;
    max-width: 100%;
    height: auto;
} 