Input {
    position: relative;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 2vw;
    display: block;
    margin: 0 auto;
    border: 2px solid rgba(200, 200, 200, 0.5);
    width: 50%;
    height: 30px;
    padding: 1%;
}

.SearchbarInput {
    margin-top: 3%;
}

.SearchbarImage {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        margin-top: 12%;
        height: 140px;
        width: auto;
    }
}

.SearchbarImage:hover {
    cursor: pointer;
}

.SearchbarButton{ 
    border: 2px solid rgba(215, 215, 215, 0.1);
    background-color: rgba(215, 215, 215, 0.3);
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 1%;
    right: 0.5%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

Button {
    border-radius: 30px;
    font-size: 1.8vw;
    margin-top: 5%;
} 