Input {
    position: relative;
    font-size: 2vw;
    display: block;
    margin: 0 auto;
    border: 2px solid rgba(200, 200, 200, 0.5);
    width: 50%;
    height: auto;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
    //box-shadow: 2px 0px 2px 1px rgba(215, 215, 215, 0.3)
}

.SearchbarInput {
    margin-top: 3%;
}

.SearchbarImage {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        margin-top: 12%;
        height: 40%;
        width: 40%;
    }
}

.SearchbarImage:hover {
    cursor: pointer;
}

.SearchbarButton{ 
    border: 1px solid grey;
    background-color: rgba(215, 215, 215, 0.1);
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 2%;
    left: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

Button {
    border-radius: 30px;
    font-size: 1.8vw;
    margin-top: 5%;
} 