.GalleryBar {
    background-image: url("https://images5.alphacoders.com/410/410373.png");
    background-position: center;
    background-size: 102% auto;
    background-repeat: no-repeat;
    border: 10px solid black;
    border-radius: 45px;
    margin-top: 2%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 4%;
}


.GalleryCheck1, .GalleryCheck2{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-right: 2%;
    padding-left: 2%;
    font-size: 2.2vw;
    font-weight: bold;
}

.GalleryCheck1 {
    padding-top: 2%;
    margin-top: 1%;
}

.GalleryCheck2 {
    margin-top:20%;
    padding-bottom: 2%;
}

.GalleryCheckbox {
    zoom: 1.8;
    padding-left: 2%;
}

.GalleryImage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.GalleryCard {
    width: 22%;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 4%;
    padding-bottom: 4%;

    img {
        width: 130%;
        height: auto;
    }
}

.GalleryMeta1, .GalleryMeta2 {
    color:grey;
    //transform: translateY(-80%);
    font-size: 1.8vw;
    font-weight: bold;
}

.GalleryMeta1 {
    transform: translateY(-100%);  
}

.GalleryMeta2 {
    transform: translateY(95%);  
}