.GalleryBar {
    background-image: url("https://images5.alphacoders.com/410/410373.png");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border: 10px solid black;
    border-radius: 15px;
    margin-top: 2%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 3%;
}


.GalleryCheck1, .GalleryCheck2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 2%;
    padding-left: 2%;
    font-size: 2.2vw;
    font-weight: bolder;
}

.GalleryCheck1 {
    padding-top: 2%;
    margin-top: 1%;
}

.GalleryCheck2 {
    margin-top:20%;
    padding-bottom: 2%;
}

.GalleryCheckbox {
    zoom: 1.8;
    padding-left: 2%;
}

.GalleryImage {
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}


.GalleryCard {
    border-radius: 50px;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 4%;
    background-image: url("https://backgroundcheckall.com/wp-content/uploads/2017/12/pokeball-background-1.png");
    background-size: auto 140%;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
     
    img {
        transform: translateY(-10%);
        width: 110%;
        height: auto;
    }
}

.GalleryMeta {
    transform: translateY(-20%);
    position: relative;
    font-size: 2vw;
    font-weight:bolder;
    padding-left: 1%;
}