@mixin flexStart {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

@mixin translateUp($property) {
    -webkit-transform: $property;
    -ms-transform: $property;  
   transform: translateY($property); 
}

@mixin background($url, $position, $size, $repeat) {
    background-image: url($url);
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}

.GalleryBar {
    @include background("https://images5.alphacoders.com/410/410373.png", 
    100% 54%, 100% auto, no-repeat);
}

.GalleryCheck1, .GalleryCheck2{
    @include flexStart();
    padding-right: 2%;
    padding-left: 1%;
    font-size: 2.2vw;
    font-weight: bold;
    position: relative;
}

.GalleryCheck1 {
    color: rgba(255, 255, 255, 0.9);
    padding-top: 2%;
    padding-bottom: 3%;
}

.GalleryCheck2 {
    color:grey;
    padding-top: 17%;
    padding-bottom: 3%;
}

.GalleryCheckbox {
    zoom: 0.2;
}

.GalleryImage {
    background: rgba(235, 235, 235, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}


.GalleryCard {
    text-align: center;
    flex-grow: 1;
    max-width: 120px;
    max-height: 135px;
    flex-basis: 0;
    margin: 1.5%;
    border-radius: 10px;
    background: white;
    padding: 70px 60px 70px 60px;
    color:rgba(135, 135, 135, 0.8);
}

.GalleryMeta1, .GalleryMeta2 {
    font-weight: bold;
}

.GalleryMeta1 {
    font-size: 12pt;
    @include translateUp(-320%);      
}

.GalleryMeta2 {
    padding-left: 0;
    padding-right: 0;
    font-size: 12pt;
    @include translateUp(145%);  
}

.GalleryCard:hover {
    cursor: pointer;

   img {
        zoom: 1.5;
        @include translateUp(-15%);
    }   
   
    @include background("https://www.pngkey.com/png/full/2-21565_pokemon-sapphire-logo-png-for-kids-pokeball-transparent.png", 
    center, auto 150%, no-repeat);

   .GalleryMeta1 {
        color: white;
   } 

   .GalleryMeta2 {
        @include translateUp(20%);
    } 
}


