.GalleryBar {
    background-image: url("https://images5.alphacoders.com/410/410373.png");
    background-position: center;
    background-size: 102% auto;
    background-repeat: no-repeat;
    border: 10px solid black;
    border-radius: 45px;
    margin-top: 2%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 3%;
}


.GalleryCheck1, .GalleryCheck2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 2%;
    padding-left: 2%;
    font-size: 2.2vw;
    font-weight: bolder;
}

.GalleryCheck1 {
    padding-top: 2%;
    margin-top: 1%;
}

.GalleryCheck2 {
    margin-top:20%;
    padding-bottom: 2%;
}

.GalleryCheckbox {
    zoom: 1.8;
    padding-left: 2%;
}

.GalleryImage {
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}


.GalleryCard {
    border: 1px solid grey;
    border-radius: 55px;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 4%;
    background-image: url("https://www.pngkey.com/png/full/2-21565_pokemon-sapphire-logo-png-for-kids-pokeball-transparent.png");
    background-size: auto 135%;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 8%;
    padding-bottom: 8%;

    img {
        display: block;
        width: 110%;
        height: auto;
        transform: translateY(-23%);
    }
}

.GalleryMeta {
    transform: translateY(-170%);
    position: relative;
    font-size: 3vw;
    font-weight:bolder;
    padding-left: 1%;
}