@mixin flexStart {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

@mixin translateUp($property) {
    -webkit-transform: $property;
    -ms-transform: $property;  
   transform: translateY($property); 
}

@mixin background($url, $position, $size, $repeat) {
    background-image: url($url);
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}

.GalleryBar {
    @include background("https://images5.alphacoders.com/410/410373.png", 
    100% 54%, 100% auto, no-repeat);
}

.GalleryCheck1, .GalleryCheck2{
    @include flexStart();
    padding-right: 2%;
    padding-left: 1%;
    font-size: 2.2vw;
    font-weight: bold;
    position: relative;
}

.GalleryCheck1 {
    color: rgba(255, 255, 255, 0.9);
    padding-top: 2%;
    padding-bottom: 3%;
}

.GalleryCheck2 {
    color:grey;
    padding-top: 17%;
    padding-bottom: 3%;
}

.GalleryCheckbox {
    zoom: 1.4;
}

.GalleryImage {
    background: rgba(235, 235, 235, 0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.GalleryCard {
    width: 22%;
    box-sizing: border-box;
    color:rgba(135, 135, 135, 0.8);
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 1.5% 2% 1.5%;
    padding: 5% 4% 5% 4%;

    img {
        width: 90%;
        height: auto;
    }
}

.GalleryMeta1, .GalleryMeta2 {
    font-size: 1.8vw;
    font-weight: bold;
}

.GalleryMeta1 {
    @include translateUp(-150%);      
}

.GalleryMeta2 {
    @include translateUp(150%);  
}

.GalleryCard:hover {
    cursor: pointer;
    padding-top: 1%;
    padding-bottom: 1%;
    @include background("https://www.pngkey.com/png/full/2-21565_pokemon-sapphire-logo-png-for-kids-pokeball-transparent.png", 
    center, auto 145%, no-repeat);

   img {
       width: 140%;
       height: auto;
   }

   .GalleryMeta1 {
    color: white;
    font-size: 2.2vw;
    @include translateUp(2%);
   }  
   
   .GalleryMeta2 {
    font-size: 2.2vw;
    @include translateUp(10%);
   }   
}


